fastapi
uvicorn[standard]
langchain
pydantic
requests
beautifulsoup4
playwright==1.40.0
playwright-stealth
pandas
scikit-learn
plotly
pdfplumber
pypdf
pillow
python-dotenv
chromadb
websockets
httpx
pytesseract
matplotlib
fpdf
reportlab
lxml
pdf2image
markdown
kaleido
